.presentacion {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 30px;
  color: #f5f5f5;
  background-color: #242424;
  margin-bottom: 40px;
  animation: description 1.3s;
}


.description {
  text-align: justify;
  hyphens: auto;
  width: 780px;
  font-size: 18px;
  margin-bottom: 10px;
}

h1 {
  font-size: 6rem;
}


span {
  font-size: 24px;
  margin-left: 10px;
}


@keyframes description {
  from {
    margin-left: calc(-800px);
  }

  to {
    margin-left: 0;
  }
}
